<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serivces</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<style>
    .button {
     height:40px; width:330px; border: none; border-radius: 25px; color: white;
  position: relative;
 background-color: #0040ff;
  border: none;
  color: #FFFFFF;
  padding -left: 10px;
  text-align: center;
  transition-duration: 0.25s;
  overflow: hidden;
  cursor: pointer;
  border-radius:15px;
}

.button:after {
  content: "";
  background:green;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.9s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
    </style>
 </head>
<body>
<nav class="navbar navbar-collapse-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/"><h2>Business Consultancy</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">

            <ul  class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Our Services</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="#">Cal StandMark Pvt.Ltd</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="#">My Profile</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link " href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1 style="margin-left:42%"><font color="#0040ff">Services</font></h1>
<br>
<div class="container">
    <div class="container">
        <div class="container">

            <form action="#" method="get">
                    <button class="button">GST Registration</button>
                    <input type="submit" class="button" value="GST Filling">
                    <input type="submit" value="Income Tax Filing" class="button">
            </form>
            <br><br>
            <form action="#" method="get">
                <input type="submit" value="Company Registration" class="button">
                <input type="submit" value="LLP Registration" class="button">
                <input type="submit" value="Digital Signature" class="button">
            </form>
            <br><br>
            <form action="#" method="get">
                <input type="submit" value="Partnership Deed" class="button">
                <input type="submit" value="Trademark Registration" class="button">
                <input type="submit" value="Food & Safety License" class="button">
            </form>
            <br><br>
            <form action="#" method="get">
                <input type="submit" value="Import Export Code" class="button">
                <input type="submit" value="MSME Code" class="button">
                <input type="submit" value="Business Funding" class="button">
            </form>
                </div>
        </div>
    </div>
</body>
</html>